<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/locations">Locations</a></li>
    <li><a ng-href="#/tasks">Tasks</a></li>
    <li><a ng-href="#/login">Log in</a></li>
    <li><p><button class="btn btn-default" ng-click="logout()">log out</button></p></li>
  </ul>
  <h3 class="text-muted">Test</h3>
</div>
        <!-- examples for fun and profit -->
        <div ng-show-auth="login">User :{{auth.user|json}}</div>
        <div ng-show-auth="error,logout">Logged out</div>
        <div ng-show-auth="error">Error :{{auth.error}}</div>
